{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Netisse</h1>
            <div class="list-group">
            <a href="#" class="list-group-item">Listes des produits</a>
            <a href="#" class="list-group-item">Mes produits favoris</a>
            <a href="#" class="list-group-item">Déconnexion</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for productSlider in productsSlider %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}                    
                    <img class="d-block img-fluid" src="{{ productSlider.image }}" alt="{{ productSlider.name }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>

            <div class="row">
                {{ form_start(form, { 'attr': {'class': 'navbar-form navbar-left'} }) }}
                    <div class="form-group">
                        {{ form_widget(form.order, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.search, { 'attr': {'class': 'form-control'} }) }}
                        <br>
                        {{ form_widget(form.send, { 'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                            
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

            <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ product.image }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="#">{{ product.name }}</a>
                        </h4>
                        <h5>${{ product.price }}</h5>
                        <p class="card-text">{{ product.description | slice(0, 100) ~ '...' }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-xs" style="color: #FFF">Ajouter à mes favoris</a>
                    </div>
                    </div>
                </div>
            {% endfor %}
            
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
